    $text-color-default: #212121;
    $highlight-color: #B67380;
    $bg-color: #826F72;
    $text-color-secondary: #342C2D;
    $button-color: #F0E3E5;
    $white-color: #FFFFFF;
    $white-border: #ECECEC;
    $svg-color: #484444;
    $footer-svg: rgba(255, 255, 255, 0.1);
    $card-gap: 30px;
    $transition-duration: 250ms;
    $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);