
        body {
    font-family: cormorant-garamond,
            serif;
        font-weight: 400;
        line-height: 1.6;
            color: var(--text-color-default);
            margin: 0;
        }