@use '../utilities/_vars';
@use '../components/_comp';

.container {
width: 100%;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;


@media screen and (max-width: 480px) {
        width: 320px;
}
@media screen and (min-width: 480px) {
        width: 480px;
}
@media screen and (min-width: 768px) {
        width: 768px;
}
@media screen and (min-width: 1200px) {
        width: 1200px;
}
}
.header__container{

background-color: vars.$button-color;
}
.home__container{
        background-color: vars.$button-color;
}
.gallery__container{
        background-color: vars.$button-color;
}
.footer__container{
        background-color: vars.$bg-color;
        margin: 10px;
}
